* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
}

header div {
    background-color: darkgray;
    height: 100%;
    flex: 1;
    margin: 0 5px;
    padding-top: 50px ;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.two-columns article {
  background-color: gray;
  height: 730px;
  width: 49.5%;
  padding-top: 200px ;
}

.three-columns article{
  background-color: lightgray;
  height: 460px;
  width: 33%;
  padding-top: 200px;
}

.width-95 {
  width: 95%;
  margin: auto;
}

.left-small article:first-child {
  background-color: lightgray;
  margin-right: 8px ;
  flex: 1;
}
.left-small article:last-child {
  flex: 2;
}


